.main-nav {
  position: relative;
}

.icon-menu {
  /*max-width: 20%;*/
  /*max-height: 20%;*/
  float: right;
  /*display: block;*/
  font-size: 3em;
  outline: 3px dashed red;
}

.main-nav ul {
  display: none;
  list-style: none;
  padding: 0;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav ul li {
  display: inline;
  padding-right: 3em;
}

.welcome-box {
}

#about-me-content {
  display: none;
}

#blog-content {
  display: none;
}

.blog-template {
  display: none;
}

#project-content {
  display: none;
}

.project-template {
  display: none;
}

#connect-content {
  display: none;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
  }
}
