#main-h1 {
  display: inline;
}

#main-tag {
  display: inline;
  /*outline: 1px solid green;*/
}

.main-nav {
  position: relative;
}

.icon-menu {
  max-width: 20%;
  max-height: 20%;
  float: right;
  display: block;
  font-size: 100%;
  outline: 3px dashed red;
}

.main-nav ul {
  display: none;
  list-style: none;
  padding: none;
  clear: both;
}

/*ul {
  padding: none;
}*/

.main-nav ul li {
  display: inline;
  padding-right: 3em;
}

.ul-links {
  padding: none;
}

.li-links {

}

#find-me {
  margin-bottom: -0.5em;
}

.blog-template {
  display: none;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
}
